@model IEnumerable<AutoDealerManager.MVC.ViewModels.FabricanteVM>

<div class="card">
    <div class="card-header">
        <h3>Fabricantes</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary">Adicionar Novo Fabricante</a>
    </div>
    <div class="card-body">
        @if (@TempData["Sucesso"] != null)
        {
            @Html.Partial("_Sucesso")
        }

        @Html.Partial("_Grid")
    </div>
</div>