@model IEnumerable<AutoDealerManager.MVC.ViewModels.VeiculoVM>

<div class="card">
    <div class="card-header">
        <h3>Veiculos</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary">Adicionar novo veiculo</a>
    </div>
    <div class="card-body">
        @if (@TempData["Sucesso"] != null) {
            @Html.Partial("_Sucesso")
        }
        @Html.Partial("_Grid")
    </div>
</div>