@model IEnumerable<AutoDealerManager.MVC.ViewModels.ConcessionariaVM>

<div class="card">
    <div class="card-header">
        <h3>Concessionarias</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary">Cadastrar Nova Concessionária</a>
    </div>
    <div class="card-body">
        @if (@TempData["Sucesso"] != null) {
            @Html.Partial("_Sucesso")
        }
        @Html.Partial("_Grid")
    </div>
</div>